.venv
venv
.env.dev
accounts
*.code-workspace
zhukebot/data
.pdm-python
data
__pycache__
error.log
error.*.log
zhukebot/plugins/chatglm/dist
zhukebot/plugins/_chatrwkv
zhukebot/plugins/sdwebui/nonebot_plugin_novelai
zhukebot/plugins/nonebot-plugin-ChatGLM6B
frontend
